html, body {
  height: 100%;
  margin: 0;
  padding: 0
}

#map-container {
  float: left;
  height: 100%;
  width: 100%;
}

#map-canvas {
  height: 100%;
  margin-left: 300px;
  z-index: 0;
}

div.tooltip {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  display: none;
  font-family: arial;
  font-size: 10px;
  opacity: 0.7;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 100px;
}

div#ad-slot{
  background-color: white;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  height: 250px;
  margin-bottom: 10px;
  width: 300px;
}

#map-controls {
  background-color: #eeeeee;
  box-shadow: 4px 0 7px #999999;
  -moz-box-shadow: 4px 0 6px #999999;
  -webkit-box-shadow: 4px 0 7px #999999;
  float: left;
  font-family: arial;
  height: 100%;
  left: 300px;
  margin: 0 0 0 -300px;
  overflow: auto;
  padding: 0;
  position: relative;
  width: 300px;
  z-index: 1;
}

#map-controls h1 {
  display: block;
  font-size: 30px;
  margin: 0;
  padding: 15px;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

#map-controls h2 {
  font-size: 20px;
  margin: 0;
  padding: 10px 15px;
}

#map-controls ul {
  border-top: 1px solid #bbbbbb;
  list-style-type: none;
  margin: 0 0 15px 0;
  padding-left: 0px;
}

ul li {
  border-bottom: 1px solid #bbbbbb;
  font-size: 14px;
  width: 100%;
}

li span {
  color: #555555;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 35px;
  padding-left: 25px;
}

#filters li.selected {
  background-color: #dff0d8;
  background-image: url('../images/check.png');
  background-position: 25px 6px;
  background-repeat: no-repeat;
}

#filters li.selected span {
  color: #468847;
  font-weight: bold;
  padding-left: 53px;
}

#projects li.selected {
  background-color: #d9edf7;
}

#projects li.selected span {
  color: #3a87ad;
  font-weight: bold;
}

#projects li.clicked {
  background-color: white !important;
}

#projects li.clicked span {
  color: black !important;
  font-weight: bold !important;
}

li:hover {
  background-color: white;
}

li:hover span {
  color: black;
}

div.project-info {
  display: none;
  font-size: 12px;
  margin: 15px 25px;
  width: 250px;
}

.project-info img {
  border: 1px solid #bbbbbb;
  height: auto;
  width: 248px;
}

.project-info p.status {
  font-weight: bold;
}

.project-info a {
  color: #0088cc;
  text-decoration: none;
}

.project-info a:hover {
  color: #005580;
  text-decoration: underline;
}

.footer a {
  color: #005580;
  text-decoration: none;
}

.footer a:hover {
  color: #005580;
  text-decoration: underline;
}