<li data-filter="construction">
  <span for="filter-construction">Under construction</span>
  <input type="checkbox" id="filter-construction" name="filter-construction" />
</li>
<li data-filter="proposed">
  <span for="filter-proposed">Proposed</span>
  <input type="checkbox" id="filter-proposed" name="filter-proposed" />
</li>
<li data-filter="completed">
  <span for="filter-completed">Completed</span>
  <input type="checkbox" id="filter-completed" name="filter-completed" />
</li>
<li data-filter="transit">
  <span for="filter-transit">Transit</span>
  <input type="checkbox" id="filter-transit" name="filter-transit" />
</li>
<li data-filter="building">
  <span for="filter-building">Buildings</span>
  <input type="checkbox" id="filter-building" name="filter-building" />
</li>
<li data-filter="apartments">
  <span for="filter-apartments">Apartments</span>
  <input type="checkbox" id="filter-apartments" name="filter-apartments" />
</li>
<li data-filter="condos">
  <span for="filter-condos">Condos</span>
  <input type="checkbox" id="filter-condos" name="filter-condos" />
</li>