<li data-status="proposed">
  <span for="status-proposed">Proposed</span>
</li>
<li data-status="construction">
  <span for="status-construction">Under construction</span>
</li>
<li data-status="completed">
  <span for="status-completed">Completed</span>
</li>
<!--
<li data-filter="transit">
  <span for="filter-transit">Transit</span>
</li>
<li data-filter="building">
  <span for="filter-building">Buildings</span>
</li>
<li data-filter="apartments">
  <span for="filter-apartments">Apartments</span>
</li>
<li data-filter="condos">
  <span for="filter-condos">Condos</span>
</li>
-->